**1. Discuss string slicing and provide examples**

A)**String slicing:**
       string slicing is a technique used to extract a portion of a string .

*   It's done by specifying the starting and ending positions of the desired substring within the original string.

In [5]:
str1="Dharmavarapu Ganeswar"
str1[0:12] #Here 0 is the starting index and 12 is the ending index

'Dharmavarapu'

In [7]:
str2="Viveknanda"
str2[0:10:3] #Here 3 represents the step

'Veaa'

In [9]:
#if we want to print the string from backwards , we can follow the following syntax
str2[::-1]

'adnankeviV'

**2) Explain the key features of lists in Python.**

A) lists are the ordered collection of objects.

 **Key features of list :**


1. **Ordered:**
           lists maintains the order of elements as they are added .

In [10]:
vegetables=["carrot","cabbage","Tomato","onion","Brinjal","Ladys finger"]
vegetables

['carrot', 'cabbage', 'Tomato', 'onion', 'Brinjal', 'Ladys finger']



2. **Mutable:**
        The values in the list can be changed after created.

In [11]:
my_list = [1, 2, 3]
my_list

[1, 2, 3]

3. **Heterogeneous:**
         list can store elements of different data types.even list can store other lists of different data types.

In [12]:
a=["ganeswar","fruits",45.678,35,789056,True,False,["pwskills","data science"],"Data scientist"]
a

['ganeswar',
 'fruits',
 45.678,
 35,
 789056,
 True,
 False,
 ['pwskills', 'data science'],
 'Data scientist']

4. **Iterable:**
         lists can iterate the elements using for loop just like iterate through the characters of a string using slicing and indexing.

In [13]:
for i in vegetables:
  print(i)

carrot
cabbage
Tomato
onion
Brinjal
Ladys finger

5.**Indexable and slicable:**
          
    

*   We can acess individual elements of a list using their index, starting from 0 for the first element .
*   Similar to strings we can extract a portion of a list using slicing.

In [14]:
my_list[1]

2

In [18]:
my_list[0:3]

[1, 2, 3]

6.**Built in Methods:**
         Lists come with a variety of built-in methods (functions) for common operations such as append, insert, remove, sort, etc. These make list manipulation easier and more efficient.

In [20]:
vegetables.sort()
vegetables

['Brinjal', 'Ladys finger', 'Tomato', 'cabbage', 'carrot', 'onion']

**3. Describe how to access, modify, and delete elements in a list with examples.**
A.

**Accessing of elements in a list:**
        
         we can access elements in a list using their index starting from 0.

In [22]:
fruits=["apple","banana","cherry","date","strawberry"]
fruits[4]

'strawberry'

2. **Modify elements in a list:**
           We can change the value of an element by assigning a new value to the index.

In [31]:
fruits=["apple","banana","cherry","date","strawberry"]
fruits[2]="kiwi"
fruits

['apple', 'banana', 'kiwi', 'date', 'strawberry']

3. **Deleting elements:**
       There are several ways to delete elements from a list.

*   **del:**
This removes an element at a specific index

In [33]:
del fruits[3] # if we not specify index , it deletes the entire list by default.
fruits

['apple', 'banana', 'kiwi', 'strawberry']

**remove():**
 This removess the first occurence of a specified value.

In [34]:
fruits.remove("banana")
fruits

['apple', 'kiwi', 'strawberry']

**pop() method:**
This method removes and returns the element at a specific index. By default it removes the last index if index is not specified.

In [35]:
fruits.pop(1)

'kiwi'

In [36]:
fruits

['apple', 'strawberry']

**4. Compare and contrast tuples and lists with examples.**

**Lists**:

**Mutable:**

Lists are mutable, meaning you can change their contents after they are created. You can add, remove, or modify elements.

**Defined with square brackets:**

my_list = [1, 2, 3]

**Methods:**

 Lists have built-in methods for various operations like append, insert, remove, sort, etc.

In [38]:
x=[1,2,3]
x.append(4)
x[0]=567
x

[567, 2, 3, 4]

**Tuples:**

**Immutable:**

Tuples are immutable, meaning you cannot change their contents once they are created.

**Defined with parentheses:**

 my_tuple = (1, 2, 3)

**Limited methods:**

Tuples have fewer built-in methods compared to lists, mainly for accessing elements.

In [39]:
tuple=(1,2,3)
tuple[2]

3

**5. Describe the key features of sets and provide examples of their use.**

**Key Features of Sets:**

Unordered: Sets are unordered collections of unique elements. This means that the elements are not stored in any specific order, and duplicates are automatically removed.

**Mutable:**

Sets are mutable, meaning you can add or remove elements after they are created. However, you cannot modify existing elements directly.

**Unique Elements:**

Sets only store unique elements. If you try to add a duplicate element, it will be ignored. This property makes sets useful for tasks like removing duplicates from a list.

**Defined with curly braces:**

 Sets are defined using curly braces {} or the set() constructor. For example: my_set = {1, 2, 3} or my_set = set([1, 2, 3]).

**Set Operations:**

Sets support various set operations such as union, intersection, difference, and more. These operations allow you to combine and manipulate sets in powerful ways.

In [41]:
#Removing duplicates
my_list = {1, 2, 2, 3, 3, 3}
my_list

{1, 2, 3}

In [42]:
#Membership operator
my_list={1,2,3,4,5,6}
5 in my_list

True

In [43]:
#set operations
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set1|set2  #union of set1 and set2

{1, 2, 3, 4, 5, 6, 7, 8}

**6. Discuss the use cases of tuples and sets in Python programming.**

**Tuples: Use Cases**

**Representing Data Records:**

 Tuples are often used to represent data records or structures where the elements have a specific meaning and order. For example, you can use a tuple to store a person's name, age, and address.

In [44]:
person = ("Alice", 30, "123 Main St")
person

('Alice', 30, '123 Main St')

**Sets: Use Cases**

**Removing Duplicates:**

Sets are excellent for eliminating duplicate elements from a list or other collection due to their inherent uniqueness property.

In [49]:
my_list = {1, 2, 2, 3, 3, 3}
my_list

{1, 2, 3}

**Mathematical Set Operations:**

Sets support various mathematical set operations like union, intersection, difference, and more. This makes them useful for tasks involving set theory or data manipulation.

**Data Validation:**

 Sets can be used to validate data by checking if elements belong to a specific set of allowed values.

**Finding Unique Items:**

Sets can be used to identify unique elements in a collection or compare different collections for common or distinct elements.

**7.Describe how to add, modify, and delete items in a dictionary with examples.**

**Adding Items:**

You can add new key-value pairs to a dictionary using the following methods:

**Direct Assignment:** Assign a value to a new key using the assignment operator (=). If the key doesn't exist, it will be created.

In [50]:
my_dict = {"name": "Alice", "age": 30}
my_dict["city"] = "New York"  # Add a new key-value pair
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

**update() method:**

Use the update() method to add multiple key-value pairs from another dictionary or an iterable of key-value pairs

In [51]:
my_dict = {"name": "Alice", "age": 30}
my_dict.update({"city": "New York", "country": "USA"})
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

**Deleting Items:**

There are several ways to delete items from a dictionary:

**del keyword:**
Use the del keyword followed by the dictionary and the key to delete a specific key-value pair.

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
del my_dict["city"]
print(my_dict)

**pop() method:**
The pop() method removes and returns the value associated with a specified key. If the key is not found, it raises a KeyError unless a default value is provided.

In [52]:
my_dict = {"name": "Alice", "age": 30}
age = my_dict.pop("age")  # Remove and return the value of "age"
print(age)
print(my_dict)

30
{'name': 'Alice'}

**clear() method:** The clear() method removes all key-value pairs from the dictionary, leaving it empty.

In [53]:
my_dict = {"name": "Alice", "age": 30}
my_dict.clear()  # Remove all items
print(my_dict)

{}

**8.Discuss the importance of dictionary keys being immutable and provide examples**



* Dictionary keys in Python must be immutable to maintain data integrity, ensure efficient lookup, and provide predictable behavior.
* Immutable objects like strings, numbers, and tuples can be used as dictionary keys.

*  Mutable objects like lists and dictionaries cannot be used as dictionary keys.

In [54]:
my_dict = {(1, 2): "value"}  # Using a tuple as a key (this is valid)
print(my_dict[(1, 2)])

value

In [55]:
my_dict = {[1, 2]: "value"}  # Using a list as a key (this will raise an error)

TypeError: unhashable type: 'list'